@import url("http://fonts.googleapis.com/css?family=Open+Sans:800italic,400,300")

grid = rgb(46,47,52)
piece-color = rgb(255,212,59)
bg-color = white
grid-weight = 15px

html
    height 100%
html, body
    background bg-color
    font-family 'Open Sans', sans-serif
body
    display flex
    flex-direction column
#title
    font-size 60px
    margin-bottom 5px
    font-weight 800
#title span
    display block

.under
    text-decoration underline

.content
    flex 1
    display -webkit-box
    display -moz-box
    display -ms-flexbox
    display -webkit-flex
    display flex
    -webkit-box-pack center
    -moz-box-pack center
    -ms-flex-pack center
    -webkit-justify-content center
    justify-content center
    -webkit-box-align center
    -moz-box-align center
    -ms-flex-align center
    -webkit-align-items center
    justify-content space-around
    align-items center
    flex-wrap wrap

table
    border-collapse collapse
.mid
    border-top grid-weight solid grid
    border-bottom grid-weight solid grid
.cen
    border-left grid-weight solid grid
    border-right grid-weight solid grid
#board td
    width 180px
    height 180px
    text-align center
    vertical-align middle
    font-size 6em
    font-weight 800
    color piece-color
    cursor hand
    cursor pointer
#board-container
    flex 1.5
    display flex
    justify-content center

#info
    font-size 2em
    display flex
    flex-direction column
    justify-content flex-start
    align-items center
    text-align center
    color grid
    margin-bottom 40px
    flex 1

#reset
    display flex
    text-align center
    align-items center
    justify-content center
    color grid
    padding 12px
    border 4px solid grid
    border-radius 15px
    width 170px
    cursor hand
    cursor pointer
    margin auto
