head
  //- vendor scripts
  script(src='/vendor/jquery/jquery.js')
  script(src='https://cdn.firebase.com/js/client/1.0.17/firebase.js')

  //- vex dialog boxes
  script(src='/vendor/vex/vex.combined.min.js')
  script.
    vex.defaultOptions.className = 'vex-theme-wireframe';
  link(rel='stylesheet', href='/vendor/vex/vex.css')
  link(rel='stylesheet', href='/vendor/vex/vex-theme-wireframe.css')

  //- my scripts
  script(src='index.js')
  link(rel='stylesheet', href='style.css')

  //- misc settings
  meta(name="viewport", content="width=device-width, user-scalable=no")

  title Tic-Tac-Toe

body
  div.content.flex
    div#info
      span#title
        span Firebase 
        span Tic Tac Toe
      div
        p You're <strong class='under'><span id='player'></span></strong>s
        p It's <strong class='under'><span id='whoseTurn'></span></strong>'s turn
        p <strong class='under'><span id='players'></span></strong> player(s) currently online
        div#reset Reset

    div#board-container
      table#board
        tr
          td#1
          td#2.cen
          td#3
        tr
          td#4.mid
          td#5.mid.cen
          td#6.mid
        tr
          td#7
          td#8.cen
          td#9
  footer
    p Crafted by Craig, 2014
